{% extends 'base.html' %}
{# Don't forget that one ! #}
{% load static %}


{% block content %}
    {% if request.resolver_match.url_name == 'review_create' %}
    <div class="my-5 text-center h1">새글 쓰기</div>
{% else %}
    <div class="my-5 text-center h1">글 수정하기</div>
{% endif %}
    <form action="" method='POST' enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}
        <table style="display: none">
            {{ view.formset.empty_form }}
        </table>

        <table>
            {{ view.formset }}
        </table>

        <span id="add-form" class="button">Add form</span>


        <button>작성하기</button>

    </form>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}

<script>
(function($) {
    $('#add-form').click(function() {
        var index = $('#id_inline_test_models-TOTAL_FORMS').val()
        var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
        newTable.find(':input').each(function() {
            for (attr of ['name', 'id'])
                $(this).attr(
                    attr,
                    $(this).attr(attr).replace('__prefix__', index)
                )
        })
        newTable.insertBefore($(this))
        $('#id_inline_test_models-TOTAL_FORMS').val(
            parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
        )
        newTable.slideDown()
    })
})($)
</script>
{% endblock %}