{% extends 'base.html' %}



{% block body %}
  <div class=""><h1> 추천 게시판</h1></div>
  <div class="w-100 my-5"></div>
  <li class = "dropdown" style="list-style:none;">
    <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      직접 장르를 선택하실래요
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
  {% for genre in genres %}
    <a class="dropdown-item"href="{% url 'movies:recommand_genre' genre.id %}">{{genre.name}}</a>
    
  {% endfor %}
</div>
</li>
<div class="w-100"></div>
<div class="mt-5"> <a href="{% url 'movies:recommand_genre_random' %}">아니면 랜덤하게 장르를 골라 보실래요.? </a></div>
<div class="w-100"></div>
<div class="mt-5"> <a href="{% url 'movies:recommand_random' %}">그냥 랜덤하게 골라 보실래요.? </a></div>

{% endblock %}