/* 04_community.css */
/* 아래에 코드를 작성해 주세요. */
.main{
    padding-top: 80px;
    text-align: center;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-bottom: 70px;
}

hr.one{
    border: solid 3px yellow;
    width: 100px;
}

article{
    margin-top: 50px;
    border-bottom: 1px solid gray;
    margin-bottom: 50px;
}
.article-left{
    text-align: left;
}
.article-right{
    text-align  : right;
    margin-bottom: 10px;
    
    
}
.article-right span:nth-child(2){
    color: gray;
}